<ng-container *ngIf="!loading">
  <div class="mat-elevation-z8 table-container">

    <table mat-table [dataSource]="dataSource">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let data"> <strong>{{ data.id }}</strong> </td>
      </ng-container>
      <!-- Created At Column -->
      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef>Created</th>
        <td mat-cell *matCellDef="let data"> {{ data.created_at | date:'shortDate' }} </td>
      </ng-container>
      <!-- Error Column -->
      <ng-container matColumnDef="error">
        <th mat-header-cell *matHeaderCellDef>Error</th>
        <td mat-cell *matCellDef="let data"> {{ data.error }} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>

  </div>
</ng-container>
<ng-container *ngIf="loading">
  <mat-progress-spinner class="spinner-center" color="warn" mode="indeterminate"> </mat-progress-spinner>
</ng-container>